* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: min(100vw, 100vh * (16/9));
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #878ba3;
}

#gameContainer, #paintingContainer, #joinContainer, #lobbyContainer, #writingContainer {
    width: 100%;
    height: 70%;
    align-items: center;
}

#joinContainer, #lobbyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#writingContainer, #paintingContainer {
    display: flex;
    justify-content: space-around;
}

#paintingBox {
    aspect-ratio: 1/1;
    background-color: white;
}

#top, #bottom {
    width: calc(100% - 2 * (min(9vw, 16vh) / 16));
    height: calc(15% - 2 * (min(9vw, 16vh) / 16));
    padding: 1vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #16192c;
}

#top {
    justify-content: center;
    transition: background-color 0.4s ease-in-out;
}

#top.bidding {
    background-color: #4082dd;
}

#top.bank {
    background-color: #40dd99;
}

#top.painting {
    background-color: #dd405d;
}

#top.writing {
    background-color: #9640dd;
}

#left {
    width: 15%;
    display: flex;
    justify-content: left;
}

#middle {
    width: min-content;
    display: flex;
    justify-content: center;
}

#right {
    width: 15%;
    display: flex;
    justify-content: right;
}

.hudbutton {
    width: calc(24 * (min(9vw, 16vh) / 16));
    height: calc(8 * (min(9vw, 16vh) / 16));
    margin-left: calc(2 * (min(9vw, 16vh) / 16));
    margin-right: calc(2 * (min(9vw, 16vh) / 16));

    background-color: #252a44;
    color: white;
    font-size: calc(4 * (min(9vw, 16vh) / 16));
    font-weight: 700;
    border: none;
    border-radius: calc(1 * (min(9vw, 16vh) / 16));
    transition: color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

.hudbutton.big {
    width: calc(36 * (min(9vw, 16vh) / 16));
    height: calc(12 * (min(9vw, 16vh) / 16));
}

.hudbutton.square {
    width: calc(8 * (min(9vw, 16vh) / 16));
    height: calc(8 * (min(9vw, 16vh) / 16));
}

.hudbutton.circle {
    width: calc(8 * (min(9vw, 16vh) / 16));
    height: calc(8 * (min(9vw, 16vh) / 16));
    border-radius: calc(8 * (min(9vw, 16vh) / 16));
}

.hudbutton:disabled {
    cursor: default;
    color: #252a44;
    background-color: #0e121f;
}

#money {
    color: white;
}

.hudbutton:enabled {
    cursor: pointer;
}

.hudbutton:hover:enabled {
    background-color: white;
    color: #252a44;
}

.hudbutton:enabled.selected {
    background-color: white;
    color: #252a44;
}

.hudinput {
    width: calc(24 * (min(9vw, 16vh) / 16));
    height: calc(8 * (min(9vw, 16vh) / 16));
    margin-left: calc(2 * (min(9vw, 16vh) / 16));
    margin-right: calc(2 * (min(9vw, 16vh) / 16));

    background-color: #252a44;
    color: white;
    cursor: text;
    font-size: calc(4 * (min(9vw, 16vh) / 16));
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: calc(1 * (min(9vw, 16vh) / 16));
    transition: color 0.25s ease-in-out,
        background-color 0.25s ease-in-out;
}

#username {
    width: calc(48 * (min(9vw, 16vh) / 16));
    margin-left: calc(50% - 24 * (min(9vw, 16vh) / 16));
    text-transform: none;
}

.hudinput.big {
    width: calc(36 * (min(9vw, 16vh) / 16));
    height: calc(12 * (min(9vw, 16vh) / 16));
}

.hudinput.long {
    width: calc(49 * (min(9vw, 16vh) / 16));
}

.infoBox .hudinput.long {
    margin-top: calc(4 * (min(9vw, 16vh) / 16));
}

.infoBox .hudinput.long:last-of-type {
    margin-bottom: calc(4 * (min(9vw, 16vh) / 16));
}

h1 {
    color: white;
    font-size: calc(6 * (min(9vw, 16vh) / 16));
    font-weight: 700;
}

h2 {
    color: #0e121f;
    font-size: calc(3 * (min(9vw, 16vh) / 16));
    font-weight: 700;
    margin: calc(1.5 * (min(9vw, 16vh) / 16));
}

#imageContainer {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
}

.infoBox {
    width: 30%;
    height: 80%;
    border: #0e121f calc(2 * (min(9vw, 16vh) / 16)) solid;
    background-color: white;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.6));
}

#paintingBar {
    width: 8%;
    height: 80%;
    border: #0e121f calc(2 * (min(9vw, 16vh) / 16)) solid;
    background-color: white;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.6));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(4 * (min(9vw, 16vh) / 16));
}

.toolIcon {
    display: block;
    width: 70%;
    height: 70%;
    background-color: white;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    transition: background-color 0.3s ease-in-out;
}

.brushIcon {
    mask-image: url("../img/brush.svg");
    -webkit-mask-image: url("../img/brush.svg");
}

.eraserIcon {
    mask-image: url("../img/eraser.svg");
    -webkit-mask-image: url("../img/eraser.svg");
}

#brush, #eraser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hudbutton:hover .toolIcon, .hudbutton.selected .toolIcon {
    background-color: #252a44;
}

#canvasWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas,
#cursorCanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#cursorCanvas {
    pointer-events: none;
    opacity: 0.4;
}

#imageBox, #paintingBox {
    height: 80%;
    width: min-content;
    border: #0e121f calc(2 * (min(9vw, 16vh) / 16)) solid;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.6));
    background-color: white;
    transition: transform 1s cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

#imageBox img, #paintingBox canvas {
    height: 100%;
    aspect-ratio: 1/1;
}

#imageBox.dropped {
    transform: translateY(-300%);
}

#paddleContainer {
    height: 30%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: calc(2 * (min(9vw, 16vh) / 16));
    overflow: visible;
}

#paddleContainer .pointer {
    height: min-content;
    min-width: calc(7 * (min(9vw, 16vh) / 16));
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s cubic-bezier(0.5, -1, 0.5, 2);
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
    overflow: visible;
}

.pointerShaft {
    width: calc(6 * (min(9vw, 16vh) / 16));
}

.pointerLabel {
    height: min-content;
    font-size: calc(3 * (min(9vw, 16vh) / 16));
    font-weight: 700;
    color: white;
    overflow: visible;
    margin-bottom: calc(1 * (min(9vw, 16vh) / 16));
    display: flex;
    justify-content: center;
}

#paddleContainer .pointer.raised {
    transform: translateY(calc(-5 * (min(9vw, 16vh) / 16)));
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    pointer-events: none;
    width: 100%;
    height: 100%;

    background-image: url('../img/scanlines.png'); 
    background-repeat: repeat-y;
    opacity: 0.06;

    animation: scanlines 100s linear infinite;
}

@keyframes scanlines {
    from {
        background-position-y: 0%;
    }
    to {
        background-position-y: 100%;
    }
}

.player0 {
    color: #ff4444;
}

.player1 {
    color: #44aaff;
}

.player2 {
    color: #ffaa44;
}

.player3 {
    color: #bb66ff;
}

.player4 {
    color: #66ffb0;
}

.disabled, .disabled > * {
    display: none !important;
}

